name: CI/CD Pipeline

on:
  push:
    branches: [main, master]
    tags:
      - 'v*'
  pull_request:
    branches: [main, master]

jobs:
  test:
    runs-on: ubuntu-latest
    container: golang:1.25
    steps:
      - uses: actions/checkout@v4

      - name: Download dependencies
        run: go mod download

      - name: Run Vet
        run: go vet ./...

      - name: Build
        run: go build -buildvcs=false -o /dev/null .

  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/scheldue-bot:${{ github.ref_name }}
            ${{ secrets.DOCKER_USERNAME }}/scheldue-bot:latest
